<script 
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

{{ $dropdownJs := resources.Get "vendor/bootstrap/dist/js/bootstrap.min.js" }}
{{ $jsAnchor := resources.Get "js/anchor.js" | resources.Minify }}
{{ $resizeLeftsideMenu := resources.Get "js/resize-left-side-menu.js" | resources.Minify  }}
{{ $splitMin := resources.Get "js/split.min.js" | minify  }}
{{ $mobileToMenu := resources.Get "js/moblie-top-menu.js" | resources.Minify  }}
{{ $ToCHide := resources.Get "js/ToC-hide.js" | resources.Minify  }}
{{ $copyBtn := resources.Get "js/copy-btn.js" | resources.Minify  }}
{{ $focusOnCurrentPageInLeftMenu := resources.Get "js/focus-on-current-page-in-left-menu.js" | resources.Minify  }}
{{ $js := (slice $dropdownJs $splitMin $resizeLeftsideMenu $focusOnCurrentPageInLeftMenu $jsAnchor $mobileToMenu $ToCHide $copyBtn) | resources.Concat "js/main.js" }}
{{ $js := $js | resources.Minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="https://menu.containerize.com/Scripts/Containerize.Menu.min.js"></script>
<link href="https://cms.admin.containerize.com/templates/aspose/css/AsposePtyLtdMenu.css"
rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cms.admin.containerize.com/templates/aspose/css/font-awesome.css" type="text/css" />
