<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{if in .Permalink "/404.html"}}
      {{ partial "head.html" . }}
    {{ else }}
      {{ partialCached "head.html" . }}
    {{ end }}
  </head>
  <body class="td-{{ .Kind }}">
    {{ partial "google-tag-manager-script.html" . }}
    <header>
      <div id='DynabicMenuInnerDiv'></div>
    </header>
    <div class="container-fluid td-default td-outer">
      <main role="main" class="td-main full-height">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
    {{ partialCached "scripts.html" . }}
    <div id='DynabicMenuFooter'></div>
    {{ partial "load-containerize-menu.html" . }}
  </body>
</html>